Support/Schemas/BuildConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://github.com/pvginkel/NetIde/schemas/BuildConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buildConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transformResources" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="transformResource">
                <xs:complexType>
                  <xs:attribute name="source" type="xs:string" use="required" />
                  <xs:attribute name="target" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="buildNuGetPackages" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="buildNuGetPackage">
                <xs:complexType>
                  <xs:attribute name="manifest" type="xs:string" use="required" />
                  <xs:attribute name="basePath" type="xs:string" use="optional" />
                  <xs:attribute name="target" type="xs:string" use="optional" />
                  <xs:attribute name="version" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="installPackages" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="installPackage">
                <xs:complexType>
                  <xs:attribute name="context" type="xs:string" use="required" />
                  <xs:attribute name="package" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>